body {
    text-align:left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #111;
    background-color: #462E74;
}

div#c {
    background-color: #fafafa;
    max-width:1024px;
    margin: 0px auto 0px auto;
    width: 60%;
    padding:30px;
    border:2px solid #446;
}

a {
  color: #2C1657;
  text-decoration: none;
}

a:hover {
  color: #665091;
  text-decoration: underline;
}

li {
        padding:2px;
}

div#header {
    border-bottom: 2px solid #888;
    margin-bottom: 30px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
}

div#footer {
    border-top: solid 2px #888;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px;
    color:#18063A;
}

h2 {
    font-size: 20px;
    color: #18063A;
}

ul {
    list-style-type: circle;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

figure {
    padding:20px;
}

figcaption {
    color: #444;
    text-align:center;
    font-family:monospace;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
pre.prettyprint{
    width: auto;
    overflow: auto;
}
