<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="Description" content="%des">
<meta name="author" content="Sarah Jamie Lewis">
<title>Sarah Jamie Lewis | %title </title>
<!-- Bootstrap core CSS -->
<link href="./css/default.css" rel="stylesheet"/>
<link rel="icon" type="image/png" href="/favicon.png" />
<style>li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8{list-style-type:decimal!important}.heading{padding-top:55px;margin-top:-55px}</style>
</head>
<body>
<div id="c">
        <div id="header">
            <div id="logo">
                <a href="/">Sarah Jamie Lewis</a>
            </div>
            <div id="navigation">
                <a href="/" title="About Sarah">Home</a>
                <a href="/readings.html" title="Things Sarah Reads">Readings</a>
                <a href="/posts/index.html" title="Articles written by Sarah">Articles</a>
                <a href="https://twitter.com/SarahJamieLewis" title="Sarah's Twitter">Twitter</a>
                <a href="https://github.com/s-rah" title="Sarah's Open Source Projects">GitHub</a>
                <a href="https://www.linkedin.com/in/sarahjamielewis" title="Sarah's LinkedIn/Resume">LinkedIn</a>
            </div>
        </div>

        <div id="content">
            %body
        </div>
	<div id="footer">
		<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
		<br/>
         A site by Sarah Jamie Lewis. All opinions are my own. Built with love by 
         <a href="http://itsy-bitsy.org/"><img
         src="./images/itsy-bitsy.png" title="itsy bitsy"/></a>
        </div></div>
    </body>
</html>
